body {
  font-family: monospace;
  background: #eee;
}

.border-box {
  background: white;
  border-radius: 7px;
  margin: 20px;
}

.flex {
  display: flex;
}

.line-height {
  line-height: 2.5;
}

.flex-space-between {
  justify-content: space-between;
}

#toolContainer {
  width: 258px;
}

.pencil {
  cursor: url("images/pencil.png") 0 30, auto;
}

.eraser {
  cursor: url("images/eraser.png") 15 15, auto;
}

button {
  cursor: pointer;
  height: 40px;
  background: #FFD524;
  border-radius: 20px;
  border: none;
  color: white;
  font-family: monospace;
  font-size: 13px;
}

button:hover { 
  background-color: #FC9A24;
}

#textContainer {
  margin: 20px;
}

#transferContainer {
  margin-top: 80px;
}

#btnContainer {
  margin: 0 20px;
}

#toolContainer {
  width: 256px;
  margin: 0 20px;
}

.pokeball {
  animation: pokeball-spin infinite 5s linear;
  height: 60px;
  margin-left: 20px;
  margin-bottom: 10px;
}

@keyframes pokeball-spin {
  0%   {
    transform:rotate(0deg);
  }
  25%{
    transform:rotate(-75deg);
  }

  75%{
    transform:rotate(75deg);
  }

  100% {
    transform:rotate(0deg);
  }
}
