.border-box {
  border: black 1px solid;
}

.flex {
  display: flex;
}

.flex-space-between {
  justify-content: space-between;
}

#toolContainer {
  width: 258px;
}

.pencil {
  cursor: url("images/pencil.png") 0 30, auto;
}

.eraser {
  cursor: url("images/eraser.png") 15 15, auto;
}
